#footer p {
    color: rgb(138, 138, 138);
    font-size: 0.8rem;
}

#footer {
    background-color: #222831;
    text-align: center;
    padding: 1% 0;
}

.socials-item {
    color: #fff;
    margin: 0 0.5%;
}

.socials-item:hover {
    color: #ffd369;
}