* {
    font-family: 'Inconsolata', monospace;
    font-size: 1.1rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.7rem;
}

a {
    color:#fff;
    text-decoration: none;
    -webkit-transition: all 0.1s linear;
            transition: all 0.1s linear;
}

a:hover {
    color: #ffd369;
    cursor: pointer;
    -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

.header {
    align-items: center;
    background-color: #222831;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-links {
    display: flex;
    justify-content: space-between;
    width: 40rem;
}

.header-item {
    margin: 0 10%;
}