h1 {
    font-family: 'Karla', sans-serif;
    font-size: 4rem;
    letter-spacing: 0.5rem;
}

.icon-hero {
    color: #ffd369;
    font-size: 2rem;
}

/* TO DO - icon hover animation */
.icon-hero:hover {

}

.fa-sort-down {
    text-align: center;
}

.hero-item {
    margin-bottom: 10rem;
}

.hero-item p {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid #ffd369; 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.5rem;
    animation: 
      typing 3.5s steps(20, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffd369; }
  }

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5%;
}

#hero {
    background-color: #222831;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 90vh;
    padding-top: 6rem;
    margin-top: -6rem;
}