.project-card {
    background-color: #fff;
    border-radius: 10px;
    width: 23%;
}

.project-card:hover {
    box-shadow: 4px 4px #bb9641;
    cursor: pointer;
    transform: scale(1.01);
}

.project-card:active {
    box-shadow: none;
    transform: translateY(4px) translateX(4px);
}

.project-card h3 {
    font-family: 'Karla', sans-serif;
    font-size: 1.7rem;
    text-align: center;
}

.tech-container {
    display: flex;
    justify-content: space-between;
}

.project-tech {
    color:  #777;
    display: inline;
    font-size: 0.8rem;
}

.project-card h3, .github-link, .tech-container {
    margin: 5% 10%;
}

.project-card h3 {
    color: #222831;
}

.project-card-image {
    border-radius: 10px 10px 0 0;
    height: 175px;
    width: 100%;
    background-size: cover;
}

.github-link {
    color:#ffd369;
}

.github-link:hover {
    text-decoration: underline;
}